// Global Extends
%tab-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  place-self: center;

  width: max-content;

  min-height: var(--tab-height, rem(55));

  padding: var(--tab-gutter-y, rem(10)) var(--tab-gutter-x, rem(15));

  font-weight: 700;
  font-size: var(--tab-size, rem(22));
  letter-spacing: -0.034em;
  color: var(--tab-color, var(--cl-light));
  text-align: center;
  white-space: nowrap;

  touch-action: none;

  background: var(--tab-fill, var(--cl-primary));

  @media (pointer: fine) {
    transition: 0.5s linear;
    transition-property: background-color, color, opacity, transform;
    cursor: pointer;

    &:hover {
      background: var(--tab-fill-hover, #{$secondary});
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
