/*----------------------------------- Core */
@import "core/functions";
@import "core/mixins";
@import "core/vars";
// @import "core/reset";
@import "core/extends";

/*----------------------------------- Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// /*----------------------------------- Base style */
:root {
  --cl-primary: #988676;
  --cl-secondary: #8bc84d;
  --cl-light: #ffffff;
  --cl-dark: #333333;
  --cl-dark-light: #808080;
  --cl-dark-lighten: #b8b8b8;

  @media (max-width: 996px) {
    font-size: 88%;
  }

  @media (max-width: 480px) {
    font-size: 75%;
  }

  @media (max-width: 340px) {
    font-size: 68%;
  }
}

.gm-hide {
  display: none !important;
}

.help-center {
  display: flex;
  flex-flow: column;
  flex: 1 1;

  max-width: calc(59rem + 3.75rem * 2);

  font-family: $font-family-primary;
  color: $base-color;

  margin: 0 auto;

  &__top {
    display: flex;
    flex-flow: column;
    justify-content: center;

    margin: 7vmax auto 0;
    padding: rem(26) 0;

    text-align: center;
  }

  &__caption {
    margin: var(--caption-margin, 0 0 $gutter);

    font-size: var(--h1-size, rem(72));
    font-weight: var(--h1-weight, 700);
    line-height: 1;
    letter-spacing: -0.034em;

    @media (max-width: 640px) {
      --h1-size: #{rem(64)};
    }
  }

  &__text {
    font-size: rem(19);
    color: $dark-light;

    &.--small {
      font-size: rem(15);
      color: $dark-lighten;
    }
  }
}

.tabs,
.tabs-content {
  display: flex;
  flex-flow: row wrap;
  gap: 1px;
  place-content: center;
}

.tabs {
  --tab-height: 3.75rem;

  margin: rem(42) auto rem(8);

  &__btn {
    @extend %tab-btn;

    &.--active {
      pointer-events: none;
      opacity: 0.8;
    }

    &.--green {
      --tab-fill: var(--cl-secondary);
      --tab-fill-hover: var(--cl-primary);
    }

    &.--dark {
      --tab-fill: var(--cl-dark);
      --tab-fill-hover: var(--cl-secondary);
    }

    &.--gray {
      --tab-fill: var(--cl-dark-light);
      --tab-fill-hover: var(--cl-secondary);
    }
  }
}

.tabs-content {
  margin: 0 auto;
  padding: rem(26) 0 !important;

  &__item {
    @extend %tab-btn;

    --tab-fill-hover: var(--cl-secondary);
    --tab-fill: var(--cl-primary);

    will-change: filter;

    &[data-tab-content-area="tb-outdoor"] {
      --tab-fill: var(--cl-dark);
    }

    &[data-tab-content-area="tb-house"] {
      --tab-fill: var(--cl-dark-light);
    }
  }
}
